body {
    background-color: beige;
}
body {
    font-family: 'Roboto', sans-serif;
}
 header h1 {
     text-align: center;
     padding: 20px;
     background-color: #333;
     color: #fff;
     font-size: 2em;
     font-family: 'Roboto', sans-serif;
     letter-spacing: 2px;
     text-transform: uppercase;
 }
.gallery {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid pink;
    display: flex;

flex-wrap: wrap;
 gap: 1rem;
justify-content: center;
}

.photo-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;

    flex: 1 0 200px;
        text-align: center;
        transition: transform 0.3s ease-in-out;
}
 .photo-card img {
     max-width: 100%;
     height: auto;
 }
 .photo-card:hover {
     transform: scale(1.1);
 }

h2{
    color: darkgreen;
}